<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vocabulary</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="../static/css/nav-vocabulary.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

</head>
</head>
<body>
    
    <nav>
        <div class="container">

            <div class="nav-top">
                <div class="logo">
                    <a href="vocabulary.html">
                        <h1>Vocabulary</h1>
                    </a>
                </div>

                <ul class="social">
                    <li><a href="#" data-bs-toggle="popover" data-bs-placement="bottom" data-bs-trigger="hover" title="คำเตือน" data-bs-content="ยังไม่ได้ใส่ link">
                        <i class="fab fa-facebook-f"></i></a>
                    </li>
                    <li><a href="https://github.com/Toei56"><i class="fa-brands fa-github"></i></a></li>
                    <li><a href="#" data-bs-toggle="popover" data-bs-placement="bottom" data-bs-trigger="hover" title="คำเตือน" data-bs-content="ยังไม่ได้ใส่ link">
                        <i class="fab fa-instagram"></i></a>
                    </li>
                </ul>
            </div>

            <div class="nav-buttom">
                <ul class="menu">
                    <li><a href="nav-vocabulary.html">หน้าแรก</a></li>
                    <li><a href="table-vocabulary.html">คำศัพท์</a></li>
                    <li><a href="#">ติดต่อ</a></li>
                    <li><a href="#" id="newVocabulary" data-bs-toggle="modal" data-bs-target="#modalNewVocabulary">เพิ่มคำศัพท์</a></li>
                </ul>

                <div class="search">
                    <form method="get">
                        <div class="input-group">
                            <input type="text" name="eng" placeholder="ค้นหาคำศัพท์" required class="form-control">
                            <div class="input-group-append">
                                <button type="submit" class="btn btn-primary">
                                    <i class="fa-solid fa-magnifying-glass"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </nav>
    <!-- end nav -->


    <!-- modal new vocabulary -->
    <div id="modalNewVocabulary" class="modal fade">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">เพิ่มคำศัพท์ใหม่</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"> 
                        <i class="fa-solid fa-x"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="formNewVocabulary" action="http://localhost:1150/vocabulary" method="post">
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label">ประเภทคำศัพท์</label>
                            <div class="col-sm-8">
                                <select name="type" required class="form-control">
                                    <option value="">-</option>
                                    <option value="คำนาม">คำนาม</option>
                                    <option value="คำนำหน้าคำนาม">คำนำหน้าคำนาม</option>
                                    <option value="คำสรรพนาม">คำสรรพนาม</option>
                                    <option value="คำกริยา">คำกริยา</option>
                                    <option value="คำกริยาวิเศษณ์">คำกริยาวิเศษณ์</option>
                                    <option value="คำคุณศัพท์">คำคุณศัพท์</option>
                                    <option value="คำบุพบท">คำบุพบท</option>
                                    <option value="คำสันธาน">คำสันธาน</option>
                                    <option value="คำอุทาน">คำอุทาน</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label">คำศัพท์</label>
                            <div class="col-sm-8">
                                <input type="text" name="eng" required class="form-control">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label">คำอ่าน</label>
                            <div class="col-sm-8">
                                <input type="text" name="pronunciation" class="form-control">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label">คำแปล</label>
                            <div class="col-sm-8">
                                <input type="text" name="thai" class="form-control">
                            </div>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary">บันทึก</button>
                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">ปิด</button>
                        </div>
                        <script src="../static/js/form_new_vocabulary.js"></script>
                    </form>
                </div>
                <div class="modal-footer">
                    <a data-role="button" class="btn btn-success"><i class="fa-solid fa-plus"></i> เพิ่มหลายคำ</a>
                </div>
            </div>
        </div>
    </div>

    <script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="../static/js/nav-vocabulary.js"></script>
</body>
</html>